@charset "UTF-8"; 
html,
body {
	height: 100%;
}

body {
	-webkit-text-size-adjust: none;
}

.container {
	position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: max-content;
	min-height: 100vh;
	@include tab{
		grid-template-columns: 1fr;
	}
}

//라벨
span[class*="label"] {
	display: inline-block;
	margin: 2px;
	padding: 2px 5px 0px;
	min-width: 38px;
	height: 24px;
	font-size: 13px;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
	@include box-sizing;
	@include radius (20%);
	vertical-align: middle;
	background: rgba(0,0,0,0.06);
	&:first-child{
		margin-left: 6px;
	}
	& + .label_gray_btn{
		margin-left: 5px;
	}
	@include mobile{
		font-size: 12px;
	}
}
.label {
	&_green {
		color: #08bf5b;
		background-color: rgba( 8, 191, 91, 0.1);
	}
	&_blue {
		color: #2396e2;
		background-color: rgba( 35, 150, 226, 0.1);
	}

}


/* header */
.header {
	position: sticky;
	top: 0;
	z-index: 100;
    grid-column: 1 / span 3;
	background-color: #fff;
	border-bottom: 1px solid #efefef;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
}

.header_inner {
	padding:  30px 24px 30px;
	@include clear;
	@include mobile{
		padding: 17px 22px 16px 24px;
	}
	.header_logo {
		float: left;
		margin-left: 58px;
		font-size: 20px;
		font-weight: 900;
		@include mobile{
			margin-left: 40px;
			font-size: 12px;
		}
		&::before{
			content: '';
			position: absolute;
			top: calc(50% - 30px);
			left: 24px;
			width: 60px;
			height: 60px;
			background: url(../img/cat.png);
			background-size: contain;
			@include mobile{
				top: calc(50% - 25px);
				left: 17px;
				width: 50px;
				height: 50px;
			}
		}	
	}
}


/* gnb */
.gnb {
	float: right;
	font-size: 0;
	.gnb_item {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		& + .gnb_item {
			margin-left: 30px;
		}
		&.gnb_mail{
			margin-top: -0.5px;
		}
		@include mobile {
			font-size: 12px;
			&+.gnb_item {
				margin-left: 14px;
			}
		}
	}
	.gnb_link {
		display: block;
        font-size: 12px;
        color: #111;
        line-height: 26px;
    }
    .github_btn {
		position: relative;
        display: block;
        border: none;
        background: #fff;
        padding: 5.5px 19px 5px 0;
		font-size: 13px;
		&::after{
			content: '';
			position: absolute;
			top: 2px;
			right: 0;
			@include get-sprite(pagenation_next_btn, $sp_application);
			transform: scale(0.7);
			transition: 0.3s;
		}
		&:hover{
			&::after{
				right: -3px;
			}
		}
    }

	.gnb_btn {
        display: inline-block;
		padding: 5px 7px;
		@include radius (3px);
		border: solid 1px #dfdfdf;
		font-weight: bold;
		font-size: 12px;
  		line-height: 1;
		color: #616161;
		transition: 0.3s;
		&:hover {
			color: #000;
			border: solid 1px #888;
		}
	}

	.gnb_text {
		display: inline-block;
		margin-right: 8px;
		font-size: 12px;
		letter-spacing: 0.28px;
		@include mobile {
			display: none;
		}
	}
}

/* snb */
.snb {
	padding: 30px 21px;
    border-right: 1px solid #efefef;
	overflow-y: auto;
	@include mobile{
		display: flex;
		justify-content: space-around;
	}
	@include tab{
		display: none;
	}
}

.snb_group {
	& + .snb_group {
		margin-top: 39px;
		@include mobile{
			margin-top: 0;
		}
	}

	&:nth-of-type(2n) {
		.nav_snb {
			margin-top: 6px;
		}
	}
}
.snb_title {
	padding-left: 2px;
	font-weight: normal;
	font-size: 13px;
	line-height: 30px;
	color: #949494;
	vertical-align: middle;
	@include tab{
		font-size: 12px;
	}
}

.nav_snb {
	margin-top: 9px;

	li + li {
        margin-top: 16px;
	}
	a {
		display: inline-block;
		position: relative;
		font-size: 15px;
		
		color: #111;
		&.active {
			font-weight: bold;
			.icon_menu_01 {
				@include get-sprite(icon-snb-productlist-black, $sp_application);
			}
			.icon_menu_02{
				@include get-sprite(icon-snb-registration-black, $sp_application);
			}
			.icon_menu_03{
				@include get-sprite(icon-snb-create-black, $sp_application);
			}
			.icon_menu_04{
				@include get-sprite(icon-snb-payment-black, $sp_application);
			}
		}
	}
	
	[class*=icon_menu] {
		display: inline-block;
		width: 24px;
		height: 24px;
		vertical-align: top;
		margin-right: 6px ;
	} 
	.icon_menu_01{
		@include get-sprite(icon-snb-productlist, $sp_application);
	}
	.icon_menu_02{
		@include get-sprite(icon-snb-registration, $sp_application);
	}
	.icon_menu_03{
		@include get-sprite(icon-snb-create, $sp_application);
	}
	.icon_menu_04{
		@include get-sprite(icon-snb-payment, $sp_application);
	}
	.snb_menu_txt {
		display: inline-block;
		vertical-align: top;
		padding-top: 2px;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: -0.4px;
		@include tab{
			font-size: 14px;
		}
	}
}

